.navbar {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  margin-bottom: 10px;
  align-items: center;
}
.navbar > h2 {
  padding: 10px;
}
.navbar > div > * {
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
  color: black;
}
.navbar > div > *:hover {
  color: blue;
}
